:root {
  --dark-purple: #3a2e46;
  --purple-accent: #6c3c9f;
  --purple-hover: #8c4fcc;
  --light-purple1: #b493d3;
  --light-purple2: #f1e4f7;
  --darkest-gray: #292929;
  --dark-gray: #333333;
  --gray: #5a5a5a;
  --light-gray1: #7c7c7c;
  --light-gray2: #c5c5c5;
  --lightest-gray: #e7e7e7;
  --almost-white: #f9f9f9;
  --white: #ffffff;

  --border-radius: 0.4rem;
}

/* ---------------- General ---------------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
  color: inherit;
  box-sizing: border-box;
}

*:hover {
  transition: all 0.2s;
}

html {
  font-size: 16px;
}

body {
  background: var(--white);
  font: 400 14px "Open Sans", Arial, sans-serif;
}

a {
  cursor: pointer;
  color: var(--purple-accent);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--purple-hover);
  text-decoration: none;
}

input,
textarea {
  outline: none;
  color: var(--darkest-gray);
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--light-gray1);
}

a,
button {
  cursor: pointer;
}

/* ---------------- Global Pattern Styling ---------------- */

body {
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  line-height: 170%;
  text-align: justify;
  word-wrap: break-word;
  cursor: default;
}

body,
a,
.post,
.page,
.comments-area,
blockquote,
.ext-links a,
input,
input[type="text"],
textarea,
select {
  color: #797979;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  color: #5f5f5f;
  margin: 1.5rem 0 0.5rem 0;
}

p,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

img,
a,
a:hover:after,
a:hover:before,
button a,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  transition: all 0.2s ease-in-out;
}

body,
input,
textarea,
select button,
button:active,
button:focus {
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/* ---------------- Body Layout ---------------- */

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 2rem;
  grid-template-columns: 30rem auto;
  grid-template-rows: 8.6rem 71.5vh max-content;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  grid-template-columns: 30rem auto;
  grid-template-rows: repeat(2, 1fr);
}

.logo > img {
  align-self: center;
}

.logo > h1,
.logo > h2 {
  flex-direction: column;
}

aside {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

footer {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  align-items: center;
  grid-column: span 2;
}

/* ---------------- Header ---------------- */

header {
  background-color: var(--dark-purple);
  justify-content: center;
}

.navigation {
  display: none;
}

header h1,
header h2 {
  margin-block-start: 0.5em;
  flex-wrap: nowrap;
  flex-flow: column;
  text-transform: uppercase;
}

a.logo {
  cursor: pointer;
  margin: auto 0;
  margin-right: -8rem;
}

a.logo:before {
  position: absolute;
  margin-left: -8rem;
  margin-top: -1rem;
  content: "";
  width: 7rem;
  height: 7rem;
  background-color: var(--light-purple1);
  display: block;
  -webkit-mask-image: url("img/logo.svg");
  mask-image: url("img/logo.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

a.logo:hover:before {
  background-color: var(--light-purple2);
}

header h1 {
  margin-block-start: 0;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3.6rem;
  color: var(--light-purple2);
}

header h2 {
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.3rem;
  letter-spacing: 0.55rem;
  color: var(--light-purple1);
}

header p {
  cursor: default;
  position: absolute;
  right: 0;
  margin: 6.2rem 2.1rem 0 0;
  color: var(--light-purple2);
  font-weight: 800;
  font-size: 1.4rem;
}

header p button {
  cursor: pointer;
  font-size: 14px;
  color: var(--light-purple1);
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 0.07rem solid var(--light-purple1);
  margin-left: 0.6rem;
  padding: 0.2rem 0.6rem;
  vertical-align: 0.25rem;
}

header p button:hover {
  color: var(--light-purple2);
  border: 0.07rem solid var(--light-purple2);
}

/* ---------------- Sidebar ---------------- */

aside {
  margin-left: 2rem;
  background-color: var(--light-purple2);
  border-radius: var(--border-radius);
  padding: 2rem;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside-name {
  font-size: 1.1rem;
  color: var(--purple-accent);
  font-weight: 700;
  margin: 1rem 0;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.filter-item {
  display: flex;
  gap: 0.5rem;
}

.filter-input {
  width: 100%;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--light-purple1);
  border-radius: var(--border-radius);
  background-color: var(--almost-white);
}

.filter-input:focus {
  background-color: var(--white);
  color: var(--dark-gray);
}

.filter-input {
  margin-bottom: 0.4rem;
  display: inline-block;
}

.filter-input,
filter-input:focus {
  border: 1px solidvar(--purple-hover);
}

ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  max-height: 35.4vh;
  max-width: 21.5714rem;
  overflow-y: auto;
  overflow-x: hidden;
}

aside li {
  cursor: pointer;
  width: 1fr;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.1rem;
}

aside li:hover {
  color: var(--purple-hover);
  text-decoration: underline;
}

.sidebar-item li:first-child {
  color: var(--purple-hover);
  font-weight: 600;
  pointer-events: none;
}

.filter-actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.filter-reset,
.filter-submit {
  border: 0;
  padding: 0.3rem 3rem;
  border-radius: var(--border-radius);
}

.filter-submit {
  font-weight: 600;
  color: var(--white);
  background-color: var(--light-purple1);
}

.filter-submit:hover {
  background-color: var(--purple-hover);
}

.filter-reset {
  color: var(--light-purple1);
  background-color: transparent;
  border: 1px solid var(--light-purple1);
}

.filter-reset:hover {
  color: var(--purple-hover);
  border: 1px solid var(--purple-hover);
}

/* ---------------- Main ---------------- */

main {
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin-right: 2rem;
  max-height: 71.5vh;
}

.load-more {
  visibility: hidden;
  font-size: 1rem;
  font-weight: 600;
  width: calc(100% - 3.2rem);
  background: var(--light-purple2);
  border: 0;
  color: var(--light-purple1);
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 0.3rem 0;
  z-index: 10;
  position: relative;
}

.load-more:hover {
  color: var(--purple-hover);
  background: var(--light-purple2) b9;
}

/* --- Message Items --- */
#delete-message-window {
  position: absolute;
  background-color: var(--white);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding: 30px 40px;
  margin: auto;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  right: 0;
  height: fit-content;
  width: fit-content;
  text-align: center;
  line-height: 2rem;
  border-radius: var(--border-radius);
  display: none;
}

#tittleDel {
  font-size: 1.7rem;
  color: var(--purple-accent);
  font-weight: 800;
}

.deleteBtn {
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-weight: 600;
  margin-top: 10px;
}

#delYes {
  background-color: var(--purple-hover);
  color: white;
  margin-right: 5px;
  border: none;
}

#delNo {
  background-color: var(--white);
  color: var(--purple-hover);
  border: 0.07rem solidvar(--purple-hover);
}

.deleteBtn:hover {
  opacity: 0.8;
}

#chat-body-log,
#chat-body-reg,
/* #sidebar-main, */
#sidebar-log {
  display: none;
}

.chat-body {
  margin-top: -1.8rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: calc(100% - 10.2rem + 1.8rem);
  width: calc(100% - 3.2rem + 3rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  z-index: 1;
}

.message-item {
  max-width: calc(100% - 2rem);
  border-radius: var(--border-radius);
  margin-top: 1rem;
  padding: 0.5rem 1.2rem 0.5rem 1rem;
  min-width: 30%;
  color: var(--dark-gray);
  line-height: 150%;
}

.message-own {
  align-self: flex-end;
  margin-right: 2rem;
  background-color: var(--light-purple2);
}

.message-foreign {
  background-color: var(--almost-white);
}

.user-name {
  color: var(--purple-hover);
  font-weight: 800;
  display: inline-block;
  width: max-content;
}

.message-acceptor {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--purple-hover);
  vertical-align: 0.04rem;
}

.message-acceptor:before {
  content: "for ";
}

.message-edit-buttons {
  color: #a6a6a6;
  position: relative;
  margin: auto;
  margin-top: -1.5rem;
  margin-right: -0.4rem;
  cursor: pointer;
  width: max-content;
}

.fa-pencil:hover {
  color: var(--purple-hover);
}

.fa-trash:hover {
  color: #e44f4f;
}

.message-date {
  font-size: 0.8rem;
  text-align: right;
  color: #7a7a7a;
  margin-right: -0.4rem;
}

.message-privat {
  border: 0.07rem solidvar(--purple-hover);
}

/* ---------------- Send Message Form ---------------- */

.to {
  position: absolute;
  color: var(--purple-accent);
  font-weight: 800;
  margin-top: -25px;
  display: none;
}

.to:before {
  content: "To ";
}

.to:after {
  content: ":";
}

#clear {
  position: absolute;
  color: var(--purple-accent);
  font-weight: 800;
  margin-top: -25px;
  font-weight: bold;
  visibility: hidden;
  right: 2rem;
  cursor: pointer;
}

#clear:after {
  font-family: FontAwesome;
  content: "\f00d";
  margin-left: 5px;
}

.fa-times {
  position: absolute;
  right: 2rem;
  transform: translateY(-20px);
  color: var(--purple-accent);
  cursor: pointer;
  visibility: hidden;
}

.fa-times:hover {
  color: #e44f4f;
}

main textarea {
  color: #7a7a7a;
  font-family: "Open Sans", sans-serif;
  resize: none;
  border: 0.07rem solid var(--light-gray2);
  width: calc(100% - 3.2rem);
  min-height: 6.4rem;
  border-radius: 0.36rem 0 0 0.36rem;
  overflow-x: hidden;
  padding: 1.3rem;
  text-align: justify;
}

main textarea:focus,
main textarea:active {
  border: 0.07rem solidvar(--purple-accent);
  color: var(--dark-gray);
}

main textarea:focus::placeholder {
  opacity: 0;
}

main textarea:disabled {
  opacity: 0.5;
}

main textarea:disabled::placeholder {
  color: #000000;
}

button.fa-paper-plane {
  font-size: 2.2rem;
  color: var(--light-purple1);
  cursor: pointer;
  min-height: 6.4rem;
  width: 3.2rem;
  position: absolute;
  border-radius: 0 0.36rem 0.36rem 0;
  border: 0.07rem solid var(--light-gray2);
  border-left: 0;
  background-color: var(--light-purple2);
}

main textarea:focus + button.fa-paper-plane,
button.fa-paper-plane:focus {
  border-color: var(--purple-accent);
  color: var(--purple-hover);
}

button.fa-paper-plane:disabled {
  opacity: 0.5;
  cursor: default;
}

/* ---------------- Footer ---------------- */

footer {
  font-size: 0.86rem;
  position: fixed;
  background: var(--darkest-gray);
  color: var(--light-gray1);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  display: flex;
  padding: 0.5rem 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer > p:last-child {
  margin-left: auto;
}

footer a:hover {
  color: var(--light-gray2);
}

/* ---------------- Scrollbars ---------------- */

::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--light-purple1);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: var(--purple-hover);
}

ul::-webkit-scrollbar {
  background: var(--almost-white);
}

textarea::-webkit-scrollbar {
  background: var(--lightest-gray);
}

.chat-body::-webkit-scrollbar {
  background-color: var(--light-purple2);
}

/* ---------------- Registration Page ---------------- */

aside .get-started {
  font-weight: 800;
  font-size: 1.8rem;
  margin: 7rem 0 1.5rem 0;
}

aside p {
  max-width: 16rem;
}

aside .aside-footer {
  margin-top: 11rem;
  bottom: 0;
  right: 0;
  margin-left: -1rem;
  border: 2px solidvar(--light-gray2);
  border-radius: var(--border-radius);
  padding: 1.3rem 1rem;
}

aside .aside-footer a {
  color: var(--purple-accent);
  font-weight: 800;
}

aside .aside-footer a:hover {
  color: var(--purple-hover);
}

.form-reg {
  margin-top: 7rem;
  text-align: center;
}

.form-name {
  color: var(--purple-accent);
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
}
.form-reg p {
  margin-bottom: 10px;
}

.reg-input {
  text-align: left;
  margin-left: 30px;
  width: 25rem;
  padding: 10px 10px 10px 15px;
  margin: 7px auto;
  border: 1px solid var(--light-gray2);
  border-radius: var(--border-radius);
}

.reg-input-active {
  border-color: var(--light-purple1);
  color: var(--purple-accent);
}

.form-reg input[type="text"],
.form-reg input[type="password"] {
  margin-left: 5px;
  border: none;
  width: 88%;
  color: #242424;
}

input:focus::placeholder {
  opacity: 0;
}

input[type="text"]:focus,
input[type="text"]:active {
  color: var(--dark-gray);
}

.form-reg input[type="text"]:focus,
.form-reg input[type="password"]:focus {
  outline: none;
}

.fa-eye,
.fa-eye-slash {
  cursor: pointer;
}

.not-equal-pass,
.res {
  border-color: #bd0000;
  color: #bd0000;
}

.equal-pass,
.res {
  border-color: #007013;
  color: #007013;
}

#res,
#res-log,
#res {
  font-size: 0.9rem;
}

#res-log,
#res {
  color: #bd0000;
}

.btn {
  text-transform: uppercase;
  background-color: var(--purple-hover);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: var(--border-radius);
  font-weight: 600;
}

.btn:hover {
  opacity: 1;
}

.form-reg p a {
  color: var(--purple-hover);
  font-weight: bold;
}

/* ---------------- LogIn Page ---------------- */

.signin-btn {
  width: 10rem;
}

/* ---------------- Error Page ---------------- */

#error-aside,
#error-main {
  display: none;
}

.error-window {
  text-align: center;
  transform: translateY(120%);
}

.error-img {
  transform: translateY(10%);
  width: 100%;
  height: 100%;
  background-color: var(--light-gray2);
  display: block;
  -webkit-mask-image: url("img/error-404.svg");
  mask-image: url("img/error-404.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* ---------------- Responsive (966px Resoultion and Lower) ---------------- */

@media only screen and (max-width: 966px),
  only screen and (max-device-width: 966px) {
  .mobile {
    display: none;
  }

  aside {
    display: none;
  }

  html {
    font-size: 16px;
  }

  body {
    display: block;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: visible;
    overflow-x: hidden;
  }

  header {
    z-index: 20;
    height: 14vw;
    position: fixed;
    width: 100vw;
    top: 8vw;
  }

  /* ---------------- Navigation Bar ---------------- */

  .navigation {
    display: block;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 4vw;
  }

  .navigation ul {
    color: var(--almost-white);
    width: 100vw;
    padding: 0;
    overflow: visible;
    list-style: none;
  }

  .navigation input[type="checkbox"] {
    display: none;
  }

  .navigation input[type="checkbox"]:checked ~ .rpv-menu {
    display: block;
  }

  .show-menu {
    display: block;
    padding: 1vw 1vw;
    height: 8vw;
    background: #373737;
    font-family: Roboto;
    color: var(--white);
    font-weight: 600;
  }

  .show-menu:before {
    font-family: FontAwesome;
    margin-right: 0.5rem;
    content: "\f0c9";
  }

  .navigation ul {
    display: none;
  }

  .navigation ul li {
    width: 100vw;
    padding: 0.5rem 1rem;
    background: #484848;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 700;
  }

  .navigation ul li a {
    color: var(--light-gray2);
  }

  /* ---------------- Logo ---------------- */

  a.logo {
    margin-right: -5rem;
  }

  a.logo::before {
    z-index: -1;
    width: 10vw;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    margin-left: -5rem;
    margin-top: -0.5rem;
  }

  header h1 {
    color: var(--white);
  }

  /* ---------------- Chat Body ---------------- */

  main {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .load-more {
    top: 22vw;
    width: 100vw;
    border-radius: 0;
    padding: 0.6rem 0;
    font-size: 1.5rem;
    position: fixed;
    text-transform: uppercase;
  }

  .chat-body {
    padding-top: 30vw;
    padding-bottom: 35vw;
    margin: 0;
    width: 100vw;
    flex-flow: column;
  }

  .message-item {
    border-radius: 1rem;
    min-width: 50vw;
    margin: 0.5rem 0.3rem;
    max-width: 80vw;
  }

  .message-acceptor {
    font-size: 2vmax;
  }

  .message-edit-buttons {
    margin-top: -3.5vh;
  }

  .message-date {
    font-size: 1rem;
  }

  main form {
    bottom: 1vw;
    position: fixed;
    width: 100%;
  }

  main textarea {
    border-radius: 0;
    height: 30vw;
    width: calc(100% - 15vw);
  }

  button.fa-paper-plane {
    height: 30vw;
    width: 15vw;
    font-size: 3rem;
    border-radius: 0;
  }

  footer {
    height: 7vw;
    padding: 0.5rem 1rem;
    bottom: 0;
  }
}

@media only screen and (max-width: 481px), only screen and (max-width: 481px) {
  html {
    font-size: 9px;
  }
}
